.main-my-projects-block
        padding-top: 120px
        &__wrapper
            margin-top: 60px
            display: grid
            grid-template: repeat(1, 375px) / repeat(2, 495px)
            grid-auto-rows: 375px
            gap: 10px
        &__item
            trasition: all 0.6s
            border: 1px solid #A9A9A9
            box-sizing: border-box
            box-shadow: 5px 5px 5px #C0C0C0
            img
                width: 100%
                height: 75%
                object-fit: cover
                box-shadow: 5px 5px 5px #C0C0C0
                &:hover
                    transform: scale(1.05)
                    ///filter: brightness(1.10)
                    ///filter: saturate(1.10)
            &-about
                margin: 5px
                text-align: center
            a   
                display: block
                text-align: center
                text-decoration: none
                color: variables.$main_color
                font-weight: bold
        .title-portfolio
            position: relative
            text-align: center
            font-weight: bold
            font-size: 16px
            line-height: 24px
            color: variables.$title_color
            @include before_circle
            &:before 
                position: absolute
                content: ''   
                top: -4px
                left: 50%
                transform: translateX(-50%)
        
        .subtitle.my-projects
            text-align: center
            font-weight: bold
            font-size: 36px
            line-height: 60px
            color: variables.$title_color