.main-experience-block
    padding-top: 120px
    .title-experience
        position: relative
        text-align: center
        font-size: 20px
        font-weight: bold
        line-height: 24px
        color: variables.$title_color
        @include before_circle 
        &:before
            top: -4px
            left: 50%
            transform: translateX(-50%)

    .subtitle.my-benefit
        text-align: center
        font-size: 36px
        font-weight: bold
        line-height: 60px
        color: variables.$title_color