@media(max-width: 1439px)
    .socialsidepanel
        display: none

@media(max-width: 1200px)
    .container
        max-width: 960px
    .main-profile-block
        &__wrapper
            grid-template-columns: 465px 465px
            column-gap: 30px
        &__skills
            grid-template: repeat(2, minmax(95px, auto))/minmax(250px, auto)
            &-item
                grid-template-columns: 40px 400px
                column-gap: 20px
              

@media(max-width: 992px)
    .container
        max-width: 720px
    .main-profile-block
        &__wrapper
            grid-template-columns: 310px 380px
            grid-auto-rows: minmax(260px, auto)
            column-gap: 30px
        &__skills
            &-item
                grid-template-columns: 40px 320px
                column-gap: 20px
        .subtitle.my_name
            font-size: 30px
            

@media(max-width: 768px)
    .container
        max-width: 540px
    .header-block
        .title.title_person
            font-size: 17px
        .title.subtitle_personal-info
            width: 300px
            line-height: 39px
            font-size: 28px 
    .main-profile-block
        padding-top: 60px
        &__wrapper
            grid-template: 400px auto auto /100%
        &__skills
            &-item
                grid-template-columns: 40px 480px
                column-gap: 20px
        &__photo
           grid-row: unset

@media(max-width: 576px)
    .container
        width: 100%
        padding: 0 10px
    .header-block
        background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../img/headerphoto.jpg') no-repeat 55%/cover 
        .title.subtitle_personal-info
            font-size: 26px

        &__buttons
            margin-top: 20px
    .hamburger-menu
        right: 20px
    .menu
        &__block
            width: 250px
            padding-left: 20px
    .main-profile-block
        &__wrapper
            grid-template: 340px auto auto /100%
        &__skills
            grid-template-columns: 100%
        .subtitle.my_name
            font-size: 24px